<div id="footer">
  <p style="font-size: 8px; color: white; text-align: center;">
    SmartSummon is a fan site. SmartSummon is neither endorsed by Riot Games
    nor reflects the views or opinions of Riot Games or anyone officially
    offically involved in producing or managing League of Legends.
    League of Legends and Riot Games are trademarks or registered trademarks
    of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </p>
  <p style="font-size: 8px; color: white; text-align: center"></br>
    These images are copyrighted to Riot Games Inc. This site and its contents
    fall under U.S. fair use law, and comply with the Legal Jibber Jabber policy
    of Riot Games Inc.
  </p>
</div>
