body {

  font-family: "Monoton";
  margin: 0;
  background-color: #141329;

  a {
    color: white;
  }
  .navbar-toggler {
    border-color: white;
  }
//   .custom-toggler.navbar-toggler {
//     border-color: rgb(255,102,203);
// }
  .custom-toggler .navbar-toggler-icon {
    // background-color: 'rgba(255,186,73, 0.7)';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,186,73, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


  .hero-image {
    background: image-url("heimerdinger.jpg") no-repeat center top/cover;
    width: auto;
    min-height: 90vh;
    height: 100%;
    position: relative;
  }

  .row {
    margin: 5% 2%;
  }

  .card {
    opacity: 0.7;
  }

  .name-header {
    background: image-url("heimerdinger.jpg") no-repeat center top/cover;
    text-align: center;
    margin: 5% 0%;
    font-size: 16vh;
    color: #D3FCFD;
  }

  .role-header {
    background: image-url("heimerdinger.jpg") no-repeat center top/cover;
    text-align: center;
    margin: 5% 0%;
    font-size: 16vh;
    color: #D3FCFD;
  }

  #champion-attributes li {
    margin: 2% 2%;
    text-align: center;
    color: #6544F6;
  }

  #footer {
  font-family: "Josefin Sans", sans-serif;
  margin: 2% 2%;
  padding: 1% 1%;
  outline-style: dotted;
  outline-color: grey;
  // position: fixed;
  bottom:0;
  }
  .new-user-container {
    color: #6544F6;
    margin: 5% 5%;
    text-align: center;

    #new-user-form {
      margin: 5% 5%;
      text-align: left;

    }

  }

}
