body {

  font-family: "Monoton";
  margin: 0;
  background-color: #141329;

  .hero-image {
    background: image-url("heimerdinger.jpg") no-repeat center top/cover;
    width: auto;
    min-height: 90vh;
    height: 100%;
    position: relative;
  }

  .row {
    margin: 5% 2%;
  }

  .card {
    opacity: 0.7;
  }

  .name-header {
    background: image-url("heimerdinger.jpg") no-repeat center top/cover;
    text-align: center;
    margin: 5% 0%;
    font-size: 16vh;
    color: #D3FCFD;
  }

  #champion-attributes li {
    margin: 2% 2%;
    text-align: center;
    color: #6544F6;
  }

  #footer {
  font-family: "Josefin Sans", sans-serif;
  margin: 2% 2%;
  padding: 1% 1%;
  outline-style: dotted;
  outline-color: grey;
  }

}
