<!DOCTYPE html>
<html>
  <head>
    <title>Smartsummon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/reset.scss" />
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.scss"/>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
